@import '/src/app/styles/variables.scss';

.loginContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bankIdLogo{
    @include scalableImage;
}

.textField{
    width:75%;
    border-radius: 5px;
    font-size: 2em;
    padding: 0.5em;
    margin-bottom: 1em;
}

.errorMessage{
    @include paragraphText;
    color: $red;
}