@import '../styles/variables.scss';

.signupContainer{
    margin-top: $mg-huge;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textField{
    @include paragraphText;
    margin: $mg-medium;
    width: 70%;
    padding: $pd-medium;
    border-color: $red;
    border-radius: $br-medium;
    box-shadow: $defaultShadow;
    
}