@import '../styles/variables.scss';
.page{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.rightSide{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 100%; 
}

.pageContent{
    display: grid; 
    grid-template-columns: 1fr 60% 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 

    margin: 0 auto; 
}

.diaryPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include paragraphText;
    color: white;
    text-align: center;
    width: 100%;
}

.button{
    width: 80%;
    color: white;
    background-color: $red;
    border-radius: $br-medium;
    box-shadow: $defaultShadow;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

.addNewPost {
    width: 45%;
    margin: 0 auto;  // Center the button horizontally
    color: white;
    background-color: $red;
    border-radius: $br-medium;
    box-shadow: $defaultShadow;
    margin-top: 20px;  // Add some top margin for spacing
  }